<!-- login.component.html -->
<div class="login-container">
  <h2>Ingreso al sistema</h2> <!-- Título -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field>
      <mat-icon matPrefix>account_circle</mat-icon>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-button type="submit">Ingresar</button>
    <button mat-button class="register-button" (click)="navigateToRegistro()">Registrate</button> <!-- Agrega el evento de clic -->
  </form>
</div>
